<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <style>
            h1{
                text-align: center;
                color:rgb(212, 0, 255);
                font-family: 'calibri';
                font-size: 100px;
            }

            h2 {
                text-align: center;
                font-family: 'consolas';
            }
        </style>
    </head>
    <body style="background-color: black; color:lightgrey;">
        <%- include("nav") %>

        <div style="margin-top: 100px;">
            <h1>Thanks for your inputs,</h1>
            <h2>IDK what to put herer.</h2>
        </div>
    </body>
</html>